################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySmallGame/.vs/MySmallGame/v15/Browse.VC.opendb
