################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MySmallGame/.vs/MySmallGame/v15/Browse.VC.opendb
/MySmallGame/.vs/MySmallGame/v15/Browse.VC.db
/MySmallGame/.vs/MySmallGame/v15/.suo
/MySmallGame/.vs/MySmallGame/v15/ipch/AutoPCH/a11e0c5638f99be9/UIMANAGE.ipch
/MySmallGame/.vs/MySmallGame/v15/ipch/AutoPCH/3cde847daa6244b3/INVENTORYMANAGER.ipch
/MySmallGame/.vs/config/applicationhost.config
/MySmallGame/.vs/MySmallGame/v15/ipch/AutoPCH/cedb1e562ea3d3/UILOGIN.ipch
